$container-width: 610px;

$green: #50c3af;
$gray: #787b80;
$dark-gray: #384048;
$white: #ffffff;
$dark-white: #f5f5f5;

$primary: $green;
$secondary: #eeeeef;
$main-text: $gray;
$heading: $dark-gray;

$main-font: "PT Sans", sans-serif;
$secondary-font: "Ubuntu", sans-serif;

@mixin to640 {
  @media only screen and (max-width: 640px + 17px) {
    @content;
  }
}
@mixin to480 {
  @media only screen and (max-width: 480px + 17px) {
    @content;
  }
}
