$container-width: 590px;

$green: #50c3af;
$gray: #787b80;
$dark-gray: #384048;
$white: #ffffff;

$primary: $green;
$secondary: #eeeeef;
$main-text: $gray;
$heading: $dark-gray;

$main-font: "PT Sans", sans-serif;
$secondary-font: "Ubuntu", sans-serif;
