.features {
  padding: 58px 0 62px;
  background-color: $dark-white;
  text-align: left;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 181px;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__image {
    margin-bottom: 35px;
  }
  &__link {
    font-size: 14px;
    line-height: 16px;
    color: $primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  @media only screen and (max-width: $sm) {
    padding: 30px 0;
    &__image {
      width: 150px;
      margin-bottom: 20px;
    }
  }
  @media only screen and (max-width: $xs) {
    padding: 20px 0;
    &__container {
      flex-direction: column;
    }
    &__item {
      margin: 0 auto 15px;
      max-width: 400px;
    }

    &__image {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}
