.footer {
  padding: 20px 0;
  background-color: $dark-white;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__copyright {
    font-size: 13px;
    color: $main-text;
  }
  &__copy-text {
    color: #aaacaf;
  }
  &__copy-link {
    color: #aaacaf;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__social {
    display: flex;
    justify-content: space-between;
    width: 80px;
    &-image {
      font-size: 17px;
      color: #b5b7b9;
      transition: color linear 0.3s;
      &:hover {
        color: darken(#b5b7b9, 20%);
      }
    }
  }
}
