.heading {
  margin: 0 0 22px;
  font-size: 16px;
  color: $heading;
  text-transform: uppercase;
  &_underlined {
    padding-bottom: 18px;
    position: relative;
    &:after {
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      position: absolute;
      background-color: #e2e3e4;
      height: 2px;
      width: 100%;
    }
  }
}
