.text {
  margin: 0;
  font-family: $main-font;
  font-size: 14px;
  color: $main-text;
  line-height: 24px;
  @media only screen and (max-width: $sm) {
    font-size: 12px;
    line-height: 18px;
  }
}
